@model InvoiceApp.ViewModels.ViewInvoice_ViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete An Invoice</h2>

<div class="container">
    <div class="formWrapper">
        @{ Html.RenderAction("DisplayFormattedInvoice", "Invoices", new { invoice = Model }); }


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color formControls">                
                @Html.ActionLink("Back to Invoices", "Index")
                <input type="submit" value="Delete Invoice" class="btn btn-danger pull-right" />
            </div>
        }
    </div>

</div>
