@model InvoiceApp.ViewModels.ViewInvoice_ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Invoice Details</h2>
<div class="container">
    <div class="formWrapper">
        @{ Html.RenderAction("DisplayFormattedInvoice", "Invoices", new { invoice = Model }); }

        <p class="formControls">            
            @Html.ActionLink("Back to List", "Index")
            @Html.ActionLink("Edit Invoice", "Edit", new { id = Model.BaseInvoiceViewModel.InvoiceID }, new { @class = "btn btn-info pull-right" })
        </p>
    </div>
</div>
