@using InvoiceApp.Helpers;
@using InvoiceApp.Controllers;

@model InvoiceApp.ViewModels.ManageInvoiceAmount_ViewModel

<!--

<div class="announcement message">
    <h3>Announcement</h3>
    <p>This is an 'announcement message' div! It is loud and proud to say things that you want people to hear first!</p>
</div>

<div class="error message">
    <h3>Error</h3>
    <p>This is an 'error message' div. It stresses that there is an immediate problem. this should be used sparingly.</p>
</div>

-->



<div class="invoiceSummary col-md-4">
    <div class="subTitle">@Html.DisplayNameFor(model => model.CurrentSum)</div>
    <div class="amount">$@Html.DisplayFor(model => model.CurrentSum)
        <span class="currency">USD</span>
    </div>
   
</div>

<div class="newInvoiceButton col-sm-offset-2">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }).DisableIf(() => (Model.CurrentSum >= Model.maxAmount_VM))
    </p>
</div>


