@using InvoiceApp.Helpers;
@using InvoiceApp.Controllers;

@model InvoiceApp.ViewModels.ManageInvoiceAmount_ViewModel


@if (Model.CurrentSum >= Model.warningAmount_VM && Model.CurrentSum < Model.maxAmount_VM) { 
    <div class="announcement message">
        <h3>Approaching Invoice Limit</h3>
        <p>The current sum of invoices ($@Model.CurrentSum) is approaching the invoice limit of $@Model.maxAmount_VM</p>
    </div>
}
@if (Model.CurrentSum >= Model.maxAmount_VM) {
    <div class="error message" style="@(Model.CurrentSum >= Model.maxAmount_VM ? "display:block" : "display:none")">
        <h3>Invoice Limit Reached</h3>
        <p>The invoice limit of $@Model.maxAmount_VM has been reached. Creating new invoices has been disabled. Please remove invoices to further create new invoices.</p>
    </div>
}



<div class="invoiceSummary col-md-4">
    <div class="subTitle">@Html.DisplayNameFor(model => model.CurrentSum)</div>
    <div class="amount">
        $@Html.DisplayFor(model => model.CurrentSum)
        <span class="currency">USD</span>
    </div>

</div>

<div class="newInvoiceButton col-sm-offset-2">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }).DisableIf(() => (Model.CurrentSum >= Model.maxAmount_VM))
    </p>
</div>


